.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #bf0603;
  min-width: 0;
  padding: 0px 15px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  margin-top: 0px;
  padding: 25px 20px;
}
.row {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
}
.row > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.row > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uZp3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.menu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
  }
}
.link__khAzc {
  position: relative;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__khAzc {
    padding: 10px;
  }
}
.link__aOQmP {
  position: relative;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aOQmP {
    padding: 10px;
    margin: 0px;
  }
}
.link__dMpEo {
  position: relative;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dMpEo {
    padding: 10px;
    margin: 0px;
  }
}
.link__s5EnA {
  position: relative;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__s5EnA {
    padding: 10px;
    margin: 0px;
  }
}
.column__gvHok {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.socialSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .socialSection {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__gChco {
  display: flex;
  position: relative;
  width: 36px;
  height: 36px;
  max-width: 100%;
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}
.svg__qNfdF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #bf0603;
  height: 1em;
}
.freeBox__xouxn {
  display: flex;
  position: relative;
  width: 36px;
  height: 36px;
  max-width: 100%;
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}
.svg__d42Hc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #bf0603;
  height: 1em;
}
.freeBox__pBvXt {
  display: flex;
  position: relative;
  width: 36px;
  height: 36px;
  max-width: 100%;
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}
.svg___0W5Rk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #bf0603;
  height: 1em;
}
.hero {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background: url("./images/image.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  display: none;
  padding: 0px;
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  background: none;
  padding: 12% 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    padding: 20% 15px;
  }
}
.freeBox__osCbY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: none;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__osCbY {
    padding: 0px;
  }
}
.text__wa1Wb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wa1Wb {
    font-size: 24px;
  }
}
.h1__cZeV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 96px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__cZeV {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.text__miuht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__miuht {
    font-size: 16px;
  }
}
.hero2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 1300px;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background: url("./images/image2.png") top 50% left 50% / cover repeat;
  padding: 0px 32px;
}
.freeBox__g4Iss {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding: 15px 20px 25px;
  margin: 270px 0px 0px;
}
.text__vxwqa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  font-size: 18px;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__mRgGc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #001427;
  font-size: 31px;
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.blog {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 90px 15px;
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  padding: 0px;
}
.h1__ktCih {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #bf0603;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row2 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.row2 > :global(.__wab_flex-container) > *,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row2 > :global(.__wab_flex-container) > picture > img,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row2 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :global(.__wab_flex-container) > *,
  .row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .row2 > :global(.__wab_flex-container) > picture > img,
  .row2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ttxn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img__trSy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img__trSy > picture > img {
  object-fit: cover;
}
.freeBox___21BWn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text___6UoJ6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  font-size: 18px;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__l3YhC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__uheVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img___3DjSb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img___3DjSb > picture > img {
  object-fit: cover;
}
.freeBox__wLi0O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text__kvvpU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__fijch {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___4IvH2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img___1Kaa1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img___1Kaa1 > picture > img {
  object-fit: cover;
}
.freeBox__nD0U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text__kypTt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__yavpd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__mIwk0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img__zkmLm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img__zkmLm > picture > img {
  object-fit: cover;
}
.freeBox__nOqL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text__nMQe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  padding-left: 0px;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__dMabp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__qcPmI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img__foQ8M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img__foQ8M > picture > img {
  object-fit: cover;
}
.freeBox__ugoxy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text__h9A9P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  padding-left: 0px;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__iFD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__nRhtm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.blogCard6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.img___6Tprg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.img___6Tprg > picture > img {
  object-fit: cover;
}
.freeBox__ajwSt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #001427;
  min-width: 0;
  padding: 15px 20px 25px;
}
.text__sQZxY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #708d81;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 10px;
}
.h3__fD4Ei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.popularCategories {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #bf0603;
  min-width: 0;
  padding: 80px 16px;
}
.container4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  padding: 0px;
}
.h2__pIYhR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 44px;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__pIYhR {
    text-align: center;
    padding: 0px;
  }
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row3 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.row3 > :global(.__wab_flex-container) > *,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row3 > :global(.__wab_flex-container) > picture > img,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
.row3 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row3 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row3 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row3 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ohXcd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__h2Un0 {
  display: flex;
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 160px;
  background: #f4d58d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px auto 20px;
}
.svg__zpkGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 78px;
  height: 78px;
  color: #bf0603;
  flex-shrink: 0;
}
.text___7SoW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-end;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__uC9Le {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.card2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sf8Ru {
  display: flex;
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 160px;
  background: #f4d58d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px auto 20px;
}
.svg__qymBw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 78px;
  height: 78px;
  color: #bf0603;
  flex-shrink: 0;
}
.text___84UK3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-end;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__rOeL9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.card3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ced1U {
  display: flex;
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 160px;
  background: #f4d58d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px auto 20px;
}
.svg__tqswe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 78px;
  height: 78px;
  color: #bf0603;
  flex-shrink: 0;
}
.text__oYewM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-end;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___2SaSn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.card4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__re2SU {
  display: flex;
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 160px;
  background: #f4d58d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px auto 20px;
}
.svg__qi3H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 78px;
  height: 78px;
  color: #bf0603;
  flex-shrink: 0;
}
.text__rpxNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-end;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.recipes {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px 0px;
}
.container6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  padding: 0px 16px;
}
.h2__eBcRs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #bf0603;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 30px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row4 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.row4 > :global(.__wab_flex-container) > *,
.row4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row4 > :global(.__wab_flex-container) > picture > img,
.row4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.row4 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row4 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row4 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row4 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row4 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row4 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ilAil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.recipesCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img___60DsS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.img___60DsS > picture > img {
  object-fit: cover;
}
.freeBox___8F4OC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px 2px #00000033;
  min-width: 0;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}
.h3__fJ5Ys {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #001427;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__q06Pg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #001427;
  margin-bottom: 25px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.themeBtn___36Mcg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 0px;
}
.svg__jkKbC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nm8T {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #bf0603;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vs9Mf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__dAgyp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.recipesCard5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img__zKsNm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.img__zKsNm > picture > img {
  object-fit: cover;
}
.freeBox__faDnw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px 2px #00000033;
  min-width: 0;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}
.h3__m4Ra9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #001427;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__axctp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #001427;
  margin-bottom: 25px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.themeBtn__vPbW8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 0px;
}
.svg__lmYXy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vkHry {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #bf0603;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rmLJz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__st5Eu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.recipesCard6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img__e9Hp5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.img__e9Hp5 > picture > img {
  object-fit: cover;
}
.freeBox__gC7Ty {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px 2px #00000033;
  min-width: 0;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}
.h3__cioqz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #001427;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__dh4O2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #001427;
  margin-bottom: 25px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.themeBtn__kcf3G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 0px;
}
.svg___1Vw5U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kti7T {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #bf0603;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__izze7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__eoWm6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.recipesCard7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img__q5Dnx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.img__q5Dnx > picture > img {
  object-fit: cover;
}
.freeBox__uQEbH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px 2px #00000033;
  min-width: 0;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}
.h3__bT2Ru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #001427;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__iFo0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #001427;
  margin-bottom: 25px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.themeBtn__qnUfw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 0px;
}
.svg__fQmm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jywRm {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #bf0603;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__c2Hql {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.newsLetter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/image13.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 170px 15px 180px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .newsLetter {
    padding: 40px 15px;
  }
}
.freeBox__xzV3E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500px;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 500px;
  background: none;
  box-shadow: none;
  left: auto;
  top: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .form {
    padding: 0px;
  }
}
.h2__eLzx7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__eLzx7 {
    margin-bottom: 20px;
  }
}
.textbox {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #ffffff;
  border-left-color: transparent;
  color: #ffffff;
  max-height: 250px;
  min-width: 0;
  padding: 11px;
  margin: 0px 0px 20px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textbox {
    flex-grow: 1;
    height: 130px;
    padding-bottom: 43px;
    flex-shrink: 0;
  }
}
.button {
  position: relative;
  text-transform: uppercase;
  background: #bf0603;
  color: #ffffff;
  height: 42px;
  width: 100%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: 0px 10px;
  border-width: 0px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #bf0603;
  min-width: 0;
  padding: 30px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}
.text__fa3J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__qqSuh {
  color: #ffffff;
  text-decoration-line: underline;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
